body{
    background-color: aquamarine;
}

ul li{
    cursor: pointer;
    list-style: none;
    background-color: #eee;
}

ul li:nth-child(odd){
    background-color: #f9f9f9;
}

ul li.concluido{
    background-color: aqua;
    text-decoration: line-through;
}